footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0.7;
    background: black;
 }
footer > div {
    padding: 5px;
}
